@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
	width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #282a31;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 6px;
	border: 3px solid #282a31;
}
.swiper-slide {
	display: flex;
	justify-content: center;
}
/* Arrows Position */
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	bottom: 10px;
	transform: translateY(-50%);
}

.swiper-button-next {
	right: 50%;
	left: auto;
	transform: translateX(453%) translateY(703%);
}

.swiper-button-prev {
	left: 50%;
	right: auto;
	transform: translateX(-453%) translateY(703%);
}
.swiper-button-prev::after {
	transform: rotate(180deg);
}
.swiper-button-next::after,
.swiper-button-prev::after {
	position: relative;
	height: 56px;
	content: url('./assets/svgs/swiper_arrow.svg');
}

:root {
	font-family: 'SFPro-Regular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'SFPro-Black-Italic';
	src: url('./assets/fonts/woff/SFProText-BlackItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Black';
	src: url('./assets/fonts/woff/SFProText-Black.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Bold';
	src: url('./assets/fonts/woff/SFProText-Bold.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Bold-Italic';
	src: url('./assets/fonts/woff/SFProText-BoldItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Heavy-Italic';
	src: url('./assets/fonts/woff/SFProText-HeavyItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Heavy';
	src: url('./assets/fonts/woff/SFProText-Heavy.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Light';
	src: url('./assets/fonts/woff/SFProText-Light.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Light-Italic';
	src: url('./assets/fonts/woff/SFProText-LightItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Medium';
	src: url('./assets/fonts/woff/SFProText-Medium.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Medium-Italic';
	src: url('./assets/fonts/woff/SFProText-MediumItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Regular';
	src: url('./assets/fonts/woff/SFProText-Regular.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Regular-Italic';
	src: url('./assets/fonts/woff/SFProText-RegularItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Semibold';
	src: url('./assets/fonts/woff/SFProText-Semibold.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Semibold-Italic';
	src: url('./assets/fonts/woff/SFProText-SemiboldItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Thin';
	src: url('./assets/fonts/woff/SFProText-Thin.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Thin-Italic';
	src: url('./assets/fonts/woff/SFProText-ThinItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Ultralight';
	src: url('./assets/fonts/woff/SFProText-Ultralight.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-Ultralight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFPro-Ultralight-Italic';
	src: url('./assets/fonts/woff/SFProText-UltralightItalic.woff2') format('woff2'),
		url('./assets/fonts/woff/SFProText-UltralightItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
